@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  --font-family: "Exo 2", sans-serif;
  --second-family: "PT Sans", sans-serif;
  --third-family: "Familjen Grotesk", sans-serif;
  --font3: "Open Sans", sans-serif;
  --font4: "Inter", sans-serif;
}

.container {
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 24px;
  padding-left: 24px;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Exo 2", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

.hero {
  padding-top: 75px;
}

.hero__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  color: #363738;
  margin-bottom: 32px;
}

.hero__des {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #363738;
}

.hero__sub_title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  color: #000;
}

.hero__length {
  border: 3px solid #ffce50;
  width: 99px;
  margin: 0px;
}

.hero__block {
  max-width: 344px;
  margin-right: auto;
  margin-left: auto;
}

.hero__img {
  margin-top: 40px;
  max-width: 345px;
  margin-left: auto;
  margin-right: auto;
}

.hero__tablet {
  display: none;
}

.hero__desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero__block {
    max-width: 690px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .hero__title {
    font-size: 44px;
    margin-bottom: 49px;
  }
  .hero__des {
    font-size: 16px;
    margin-bottom: 44px;
  }
  .hero__sub_title {
    font-size: 16px;
  }
  .hero__length {
    max-width: 104px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero__img {
    margin-top: 73px;
    max-width: 690px;
  }
  .hero__tablet {
    display: inline-block;
  }
  .hero__mobile {
    display: none;
  }
  .hero {
    padding-top: 117px;
  }
}
@media screen and (min-width: 992px) {
  .hero {
    padding-top: 109px;
  }
  .hero__content {
    text-align: start;
    max-width: 610px;
  }
  .hero__block {
    max-width: 1440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__mobile {
    display: none;
  }
  .hero__desktop {
    display: inline-block;
  }
  .hero__tablet {
    display: none;
  }
  .hero__length {
    margin: 0px;
  }
  .hero__title {
    font-size: 52px;
    margin-bottom: 40px;
  }
  .hero__des {
    margin-bottom: 40px;
  }
}
.services {
  padding-top: 56px;
}

.services__list {
  padding: 24px 27px 32px 32px;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  max-width: 345px;
}

.services__item1 {
  max-width: 286px;
  position: relative;
  margin-bottom: 24px;
  padding-top: 84px;
}
.services__item1::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../../img/services-icon3.svg);
  width: 68px;
  height: 68px;
  position: absolute;
  display: inline-block;
  top: 0;
}

.services__item2 {
  max-width: 286px;
  position: relative;
  margin-bottom: 24px;
  padding-top: 84px;
}
.services__item2::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/services-icon2.svg);
  width: 68px;
  height: 68px;
  position: absolute;
  display: inline-block;
  top: 0;
}

.services__item3 {
  max-width: 286px;
  position: relative;
  margin-bottom: 24px;
  padding-top: 84px;
}
.services__item3::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../../img/services-icon1.svg);
  width: 68px;
  height: 68px;
  position: absolute;
  display: inline-block;
  top: 0;
}

.services__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
  color: #363738;
}

.services__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #6b6b6c;
}

.services__list {
  max-width: 345px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .services__item {
    max-width: 690px;
    -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    padding-top: 35px;
    padding-bottom: 47px;
    padding-right: 140px;
  }
  .services__item1::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../img/services-tablet-icon1.svg);
    width: 92px;
    height: 92px;
    position: absolute;
    display: inline-block;
    top: 54px;
    left: 32px;
  }
  .services__item2::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../img/services-tablet-icon2.svg);
    width: 92px;
    height: 92px;
    position: absolute;
    display: inline-block;
    top: 54px;
    left: 32px;
  }
  .services__item3::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../img/services-tablet-icon3.svg);
    width: 92px;
    height: 92px;
    position: absolute;
    display: inline-block;
    top: 54px;
    left: 32px;
  }
  .services__list {
    max-width: 690px;
    padding: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .services__text {
    font-size: 16px;
    font-family: var(--second-family);
    margin-top: 20px;
    margin-left: 156px;
  }
  .services__title {
    font-size: 20px;
    margin-left: 156px;
  }
}
@media screen and (min-width: 992px) {
  .services__list {
    max-width: 1240px;
    padding: 40px 122px 56px 80px;
    -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  .services__item {
    max-width: 228px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: none;
    padding: 0px;
    padding-top: 116px;
    margin: 0px;
  }
  .services__item1::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../img/services-tablet-icon1.svg);
    width: 92px;
    height: 92px;
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 0px;
  }
  .services__item2::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../img/services-tablet-icon2.svg);
    width: 92px;
    height: 92px;
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 0px;
  }
  .services__item3::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../img/services-tablet-icon3.svg);
    width: 92px;
    height: 92px;
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 0px;
  }
  .services__title {
    font-size: 20px;
    margin: 0;
  }
  .services__text {
    font-size: 16px;
    margin: 0;
  }
  .services__length {
    border: 1px solid #d7d7dd;
    height: 261px;
    width: 0px;
  }
}
.about {
  padding-top: 57px;
}

.about__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  color: #363738;
}

.about__top_block {
  max-width: 345px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.about__sub_title {
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
  color: #363738;
}

.about__block {
  margin-left: 68px;
}

.about__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #6b6b6c;
}

.about__item {
  max-width: 337px;
  position: relative;
}

.about__list {
  max-width: 345px;
  margin-left: auto;
  margin-right: auto;
}

.about__item1 {
  margin-bottom: 38px;
}

.about__item1::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/about-icon1.svg);
  position: absolute;
  width: 52px;
  height: 52px;
  display: inline-block;
}

.about__item2 {
  margin-bottom: 38px;
}

.about__item2::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/about-icon2.svg);
  position: absolute;
  width: 52px;
  height: 52px;
  display: inline-block;
}

.about__item3 {
  margin-bottom: 38px;
}

.about__item3::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/about-icon3.svg);
  position: absolute;
  width: 52px;
  height: 52px;
  display: inline-block;
}

.about__item4::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/about-icon4.svg);
  position: absolute;
  width: 52px;
  height: 52px;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .about__top_block {
    max-width: 729px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/about-tablet-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 68px 90% 68px 85px;
  }
  .about__list {
    max-width: 540px;
  }
  .about__block {
    margin-left: 140px;
  }
  .about__item {
    max-width: 600px;
  }
  .about__title {
    font-weight: 600;
    font-size: 44px;
    line-height: 125%;
    color: #fff;
  }
  .about__item1 {
    margin-bottom: 38px;
  }
  .about__item1::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../img/about-tablet-icon1.svg);
    position: absolute;
    width: 90px;
    height: 88px;
    display: inline-block;
  }
  .about__item2 {
    margin-bottom: 38px;
  }
  .about__item2::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../img/about-tablet-icon2.svg);
    position: absolute;
    width: 92px;
    height: 88px;
    display: inline-block;
  }
  .about__item3 {
    margin-bottom: 38px;
  }
  .about__item3::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../img/about-tablet-icon3.svg);
    position: absolute;
    width: 92px;
    height: 88px;
    display: inline-block;
  }
  .about__item4::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../img/about-tablet-icon4.svg);
    position: absolute;
    width: 90px;
    height: 88px;
    display: inline-block;
  }
}
@media screen and (min-width: 992px) {
  .about__top_block {
    max-width: 729px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/about-desktop-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 68px 90% 70px 85px;
  }
  .about__top_block {
    max-width: 962px;
  }
  .about__item {
    max-width: 400px;
    margin: 0;
  }
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    max-width: 1242px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 140px;
    row-gap: 62px;
  }
  .about__block {
    margin-left: 120px;
  }
}
.result {
  padding-top: 72px;
  padding-bottom: 120px;
}

.result__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  color: #363738;
  margin-bottom: 24px;
}

.result__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #6b6b6c;
}

.result__block {
  max-width: 344px;
  margin-bottom: 32px;
}

.result__sub_title {
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
  color: #363738;
  margin-top: 24px;
}

.result__des {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #6b6b6c;
  margin-top: 16px;
}

.result__price {
  font-weight: 600;
  font-size: 15px;
  line-height: 135%;
  color: #363738;
  margin-top: 24px;
}

.result__length {
  border: 3px solid #ffce50;
  width: 86px;
  height: 0px;
  margin: 0px;
}

.result__mobile_item1 {
  padding-bottom: 10px;
}

.result__item1 {
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  max-width: 345px;
}

.result__des_block {
  margin-left: 24px;
}

.result__tablet2_img {
  display: none;
}

.result__tablet1_img {
  display: none;
}

.result__des_block1 {
  display: none;
}

.result__desktop_img {
  display: none;
}

.result__item3 {
  display: none;
}

@media screen and (min-width: 768px) {
  .result__block {
    max-width: 687px;
  }
  .result__title {
    font-size: 44px;
  }
  .result__text {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .result__item1 {
    max-width: 690px;
    padding-bottom: 24px;
  }
  .result__sub_title {
    font-size: 20px;
  }
  .result__des_block {
    max-width: 510px;
  }
  .result__des {
    margin-bottom: 32px;
  }
  .result__mobile_img {
    display: none;
  }
  .result__tablet2_img {
    display: inline-block;
  }
  .result__tablet1_img {
    display: inline-block;
  }
  .result__des_block1 {
    display: block;
  }
  .result {
    padding-bottom: 160px;
  }
}
@media screen and (min-width: 992px) {
  .result__block {
    max-width: 667px;
  }
  .result__title {
    font-size: 48px;
  }
  .result__tablet1_img {
    display: none;
  }
  .result__des_block1 {
    display: none;
  }
  .result__tablet2_img {
    display: none;
  }
  .result__item2 {
    display: none;
  }
  .result__item1 {
    max-width: 393px;
  }
  .result__des_block {
    max-width: 291px;
  }
  .result__desktop_img {
    display: inline-block;
  }
  .result__item3 {
    display: inline-block;
  }
  .result__list1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .result {
    padding-bottom: 177px;
  }
}
.products {
  background-color: #0b7572;
  padding-top: 32px;
  padding-bottom: 32px;
}

.products__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  color: #fff;
  margin-bottom: 40px;
}

.products__block {
  max-width: 345px;
  margin-left: auto;
  margin-right: auto;
}

.products__tablet_img {
  display: none;
}

.products__desktop_img {
  display: none;
}

@media screen and (min-width: 768px) {
  .products {
    background-color: none;
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .products__title {
    font-size: 44px;
    max-width: 328px;
  }
  .products__mobile_img {
    display: none;
  }
  .products__tablet_img {
    display: inline-block;
  }
  .products__block {
    max-width: 687px;
  }
}
@media screen and (min-width: 992px) {
  .products__tablet_img {
    display: none;
  }
  .products {
    background: none;
  }
  .products__block {
    margin: 0;
    padding: 0;
  }
  .products__title {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 40px;
  }
  .products__block {
    background-color: #0b7572;
    padding: 85px 66px 85px 81px;
    max-width: 1276px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .products__desktop_img {
    display: block;
    max-width: 520px;
  }
  .products__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.delivery {
  padding-top: 64px;
}

.delivery__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  color: #363738;
}

.delivery__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #6b6b6c;
}

.delivery__sub_title {
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  color: #363738;
}

.delivery__tablet_text {
  display: none;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6b6b6c;
}

.delivery__item {
  padding: 24px 6px 32px 48px;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.delivery__item1,
.delivery__item2 {
  margin-bottom: 30px;
}

.delivery__length {
  display: none;
  border: 3px solid #ffce50;
  width: 92px;
  height: 0px;
  margin-top: 24px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .delivery__text {
    display: none;
  }
  .delivery__tablet_text {
    display: block;
  }
  .delivery__item {
    padding: 40px 76px 48px 85px;
  }
  .delivery__length {
    display: block;
  }
  .delivery__title {
    font-size: 44px;
  }
}
@media screen and (min-width: 992px) {
  .delivery__text {
    display: none;
  }
  .delivery__tablet_text {
    display: block;
  }
  .delivery__item {
    padding: 32px 132px 32px 438px;
    position: relative;
  }
  .delivery__item1::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../img/delivery-img1.png);
    position: absolute;
    width: 331px;
    height: 181px;
    left: 60px;
    top: 52px;
  }
  .delivery__item2::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../img/delivery-img2.png);
    position: absolute;
    width: 331px;
    height: 181px;
    left: 60px;
    top: 52px;
  }
  .delivery__item3::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../img/delivery-img3.png);
    position: absolute;
    width: 331px;
    height: 181px;
    left: 60px;
    top: 52px;
  }
  .delivery__length {
    display: block;
  }
  .delivery__title {
    font-size: 44px;
  }
}
.projets {
  padding-top: 64px;
}

.projects__list {
  margin-bottom: 56px;
}

.projects__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
  color: #363738;
}

.projects__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #6b6b6c;
}

.projects__item {
  padding-top: 94px;
  max-width: 150px;
  text-align: center;
  position: relative;
}

.projects__length {
  border: 1px solid #d7d7dd;
  height: 176px;
  display: inline-block;
}

.projects__item1::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/projects-icons1.svg);
  position: absolute;
  width: 70px;
  height: 88px;
  top: 0;
  display: inline-block;
  left: 40px;
}

.projects__title1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  color: #363738;
  margin-bottom: 56px;
}

.projects__item2::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/projects-icons2.svg);
  position: absolute;
  width: 119px;
  height: 57px;
  bottom: 130px;
  display: inline-block;
  left: 22px;
}

.projects__item3::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/projects-icons3.svg);
  position: absolute;
  width: 111px;
  height: 88px;
  top: 0;
  display: inline-block;
  left: 19.5px;
}

.projects__item4::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/projects-icons4.svg);
  position: absolute;
  width: 67px;
  height: 82px;
  top: 0;
  display: inline-block;
  left: 41.5px;
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 48px;
}

.projects__item5,
.projects__item6,
.projects__item7,
.projects__item8 {
  display: none;
}

.projects__length1 {
  display: none;
}

.projects__list {
  max-width: 346px;
  margin-left: auto;
  margin-right: auto;
}

.projects__length3 {
  display: none;
}

@media screen and (min-width: 768px) {
  .projects__item5,
  .projects__item6,
  .projects__item7,
  .projects__item8 {
    display: block;
  }
  .projects__title1 {
    font-size: 40px;
  }
  .projects__length1 {
    display: block;
  }
  .projects__item {
    max-width: 200px;
  }
  .projects__item1::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../img/projects-icons1.svg);
    position: absolute;
    width: 70px;
    height: 88px;
    top: 0;
    display: inline-block;
    left: 57px;
  }
  .projects__item2::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../img/projects-icons2.svg);
    position: absolute;
    width: 119px;
    height: 57px;
    bottom: 120px;
    display: inline-block;
    left: 22px;
  }
  .projects__item3::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../img/projects-icons3.svg);
    position: absolute;
    width: 111px;
    height: 88px;
    top: 0;
    display: inline-block;
    left: 40px;
  }
  .projects__item4::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../img/projects-icons4.svg);
    position: absolute;
    width: 67px;
    height: 82px;
    top: 0;
    display: inline-block;
    left: 55px;
  }
  .projects__item5::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../img/project-tablet-icons5.svg);
    position: absolute;
    width: 182px;
    height: 49px;
    top: 0;
    display: inline-block;
    left: -20px;
  }
  .projects__item6::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../img/project-tablet-icons6.svg);
    position: absolute;
    width: 95px;
    height: 88px;
    top: 0;
    display: inline-block;
    left: 40px;
  }
  .projects__item7::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../img/project-tablet-icons7.svg);
    position: absolute;
    width: 79px;
    height: 97px;
    top: 0;
    display: inline-block;
    left: 55px;
  }
  .projects__item8::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../../img/project-tablet-icons8.svg);
    position: absolute;
    width: 145px;
    height: 52px;
    top: 0;
    display: inline-block;
    left: -8px;
  }
  .projects__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 687px;
    gap: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .projects__item {
    width: 184px;
  }
  .projects__length3 {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .projets {
    padding-top: 120px;
  }
  .projects__list {
    max-width: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 65px;
  }
  .projects__item {
    max-width: 140px;
    text-align: center;
  }
  .projects__length3 {
    display: block;
  }
  .projects__length {
    height: 183px;
  }
  .projects__title {
    font-size: 20px;
    margin: 0;
  }
  .projects__item1::before {
    left: 35px;
    top: 0;
  }
  .projects__item3::before {
    left: 20px;
    top: 0;
  }
  .projects__item4::before {
    left: 35px;
    top: 0;
  }
  .projects__item5::before {
    left: -20px;
    top: 0;
  }
  .projects__item6::before {
    left: 25px;
    top: 0;
  }
  .projects__item7::before {
    left: 30px;
    top: 0;
  }
  .projects__item8::before {
    left: -30px;
    top: 0;
  }
}
.info {
  padding-top: 132px;
}

.info__title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  color: #363738;
}

.info__item {
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 10px;
  padding: 15px 24px 18px 150px;
  border-left: 20px solid #0B7572;
  max-width: 345px;
  position: relative;
}

.info__item1::after {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/info-icon1.svg);
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 30px;
  top: 40px;
}

.info__item2::after {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/info-icon2.svg);
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 30px;
  top: 40px;
}

.info__item3::after {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/info-icon3.svg);
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 30px;
  top: 40px;
}

.info__item4::after {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/info-icon4.svg);
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 30px;
  top: 40px;
}

.info__item5::after {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/info-icon2.svg);
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 30px;
  top: 40px;
}

.info__item6::after {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/info-icon1.svg);
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 30px;
  top: 40px;
}

.info__item1, .info__item2 {
  margin-bottom: 14px;
}

.info__block {
  max-width: 165px;
}

.info__length {
  border: 3px solid #ffce50;
  width: 86px;
  height: 0px;
  margin: 0;
}

.info__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.info__item4 {
  display: none;
}

.info__item6, .info__item5 {
  display: none;
}

@media screen and (min-width: 768px) {
  .info__item {
    padding: 140px 90px 35px 32px;
    border-left: 30px solid #0B7572;
  }
  .info__item4 {
    display: block;
  }
  .info__list {
    margin-top: 56px;
    max-width: 770px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info__title {
    font-size: 44px;
  }
  .info__item6, .info__item6 {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .info__item6, .info__item5 {
    display: block;
  }
  .info__item {
    padding: 47px 179px 46px 179px;
    max-width: 605px;
    border-left: 50px solid #0B7572;
    margin: 0;
  }
  .info__sub_title {
    font-size: 20px;
    margin: 0;
  }
  .info__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1240px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.contact {
  padding-top: 82px;
}

.contact__title {
  font-weight: 600;
  font-size: 44px;
  line-height: 125%;
  color: #363738;
  margin-bottom: 82px;
}

.contact__item {
  padding-left: 60px;
  position: relative;
}

.contact__item1::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/contact-icon.svg);
  width: 24px;
  height: 32px;
  position: absolute;
  left: 18px;
}

.contact__item2::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/contact-icon2.svg);
  width: 28px;
  height: 18px;
  position: absolute;
  left: 18px;
  bottom: 20px;
}

.contact__item3::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../../img/contact-icon3.svg);
  width: 28px;
  height: 28px;
  position: absolute;
  left: 18px;
  bottom: 10px;
}

.contact__item4::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/contact-icon4.svg);
  width: 28px;
  height: 28px;
  position: absolute;
  left: 18px;
  bottom: 10px;
}

.contact__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6b6b6c;
  margin-bottom: 0;
}

.contact__link {
  font-weight: 600;
  font-size: 20px;
  color: #363738;
  margin-top: 0;
}

.contact__item3,
.contact__item2,
.contact__item1 {
  margin-bottom: 30px;
}

.contact__list1 {
  margin-bottom: 81px;
}

.contact__list {
  background-color: #F9F9FB;
  max-width: 345px;
  border-radius: 5px;
  padding: 31px 17px 51px 31px;
}

.contact__des {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  color: #6b6b6c;
}

.contact__des2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #363738;
}

.contact__length {
  border: 1px solid #e9eaf2;
  width: 297px;
  height: 0px;
}

@media screen and (min-width: 768px) {
  .contact__list {
    max-width: 690px;
  }
  .contact__item_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 106px;
  }
  .contact__length {
    border: 1px solid #e9eaf2;
    width: 634px;
    height: 0px;
  }
}
@media screen and (min-width: 992px) {
  .contact__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.pictures {
  padding-top: 20px;
  padding-bottom: 25px;
}

.pictures__block {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.picture__tablet {
  display: none;
}

.pictures__desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .pictires__mobile {
    display: none;
  }
  .picture__tablet {
    display: block;
  }
  .pictures__block {
    max-width: 675px;
  }
  .pictures__desktop {
    display: none;
  }
  .pictures {
    padding-top: 76px;
    padding-bottom: 105px;
  }
}
@media screen and (min-width: 992px) {
  .pictures {
    padding-top: 46px;
    padding-bottom: 165px;
  }
  .picture__tablet {
    display: none;
  }
  .pictures__block {
    max-width: 1245px;
  }
  .pictures__desktop {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */